.cheesBoard
{
    position: relative;
    display: flex;
    flex-direction: column;
}
.row
{
    width: 100%;
    height: 50px;
    display: flex;
}
.square
{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square img
{
    height: 40px;
    width: auto;
}

.square{background-color: #30AD23;}
.row:nth-child(2n) .square:nth-child(2n){background-color: #7DF481;}
.row:nth-child(2n+1) .square:nth-child(2n+1){background-color: #7DF481;}


.row:first-child .square::before
{
    content: attr(id-square-letter);
    position:absolute;
    top: -2.5vh;
}
.row:last-child .square::before
{
    content: attr(id-square-letter);
    position:absolute;
    bottom: -2.5vh; 
}
.row .square:first-child::after
{
    content: attr(id-square-num);
    position:absolute;
    left: -2.5vh;  
}
.row .square:last-child::after
{
    content: attr(id-square-num);
    position:absolute;
    right: -2.5vh;  
}