<section>
    <div id="equips"></div>

    <div id="form">
        <form>
            <div class="inputBox">
                <p>Nom de l'equip</p>
                <input type="text" name="equip" />
            </div>
            <div class="inputBox">
                <p>jugador 1</p>
                <input type="text" name="player1" />
            </div>
            <div class="inputBox">
                <p>jugador 2</p>
                <input type="text" name="player2" />
            </div>
            <button>CREAR</button>
        </form>
    </div>

</section>
