<section>
    <div id="equips"></div>

    <div id="form">
        <form>
            <div class="inputBox">
                <p>Nom de l'equip</p>
                <input type="text" #equip />
            </div>
            <div class="inputBox">
                <p>jugador 1</p>
                <input type="text" name="player1" #player1/>
            </div>
            <div class="inputBox">
                <p>jugador 2</p>
                <input type="text" name="player2" #player2/>
            </div>
            <button type="button" (click)="this.createTeam(equip.value, player1.value, player2.value)">CREAR</button>
        </form>
    </div>

</section>
