*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#boards
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

#boards > div
{
    width: 100%;
    height: auto;
}
