*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#boards
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

#boards > div
{
    width: 100%;
    height: auto;
}
.boardComponent
{
    max-width: 450px;
    min-width: 250px;
    width: 45%;
    margin: 1em 0;
}